<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 maincontant">
            <h1 class="logo">Rodeo Travel</h1>
            <h3 class="logo">Change Password</h3>
            <form role="form" action="/checkChangePassword" method="post" id="changePassword">
                <div class="form-content">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" class="form-control input-underline input-lg"> 
                    </div>
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control input-underline input-lg" id="oldpassword" name="oldpassword">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control input-underline input-lg" id="newpassword" name="newpassword">
                    </div>
                </div>
                <button type="submit" style="width: 160px!important;" class="btnAllfrm btn rounded-btn">Change Password</button>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    
    $('#changePassword').validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            oldpassword: {
                required: true,
                minlength: 8
            
            },
            newpassword: {
                required: true,
                minlength: 8
            }
        }
    });
});
</script>
