<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #4e8dc3!important;">
        <a class="navbar-brand navcolor" href="/home"><h2>Rodeo Travel</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link navcolor" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                  <a class="nav-link navcolor" href="">About</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link navcolor" href="">Contact Us</a>
            </li>
            {{#if email}}
                <li class="nav-item btnAll">
                  <a class="navcolor nav-link btn btn-outline-success my-2 my-sm-0 headbtn" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="navcolor nav-link btn btn-outline-success my-2 my-sm-0 headbtn" href="/logout">Logout</a>
                </li>
            {{else}}
                <li class="nav-item btnAll">
                  <a class="navcolor nav-link btn btn-outline-success my-2 my-sm-0 headbtn" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="navcolor nav-link btn btn-outline-success my-2 my-sm-0 headbtn" href="/register">Register</a>
                </li>
            {{/if}}
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="navcolor btn btn-outline-success my-2 my-sm-0 headbtn" type="submit">Search</button>
          </form>
        </div>
      </nav>
  </head>
  <body style="padding : 0px">
    {{{body}}}
  </body>
</html>